<section
  class="w-75 mx-auto rounded shadow p-3 my-5"
  *ngIf="cartProductDetails; else info"
>
  <div class="d-flex justify-content-between align-items-center">
    <h2>Cart shop</h2>
  </div>
  <p class="fw-bolder">
    Total Price:
    {{ cartProductDetails.totalCartPrice | currency : " " }}
  </p>

  <div
    class="row border-bottom py-2"
    *ngFor="let item of cartProductDetails.products"
  >
    <div class="col-md-1">
      <img
        class="w-100"
        [src]="item.product.imageCover"
        [alt]="item.product.title"
      />
    </div>
    <div class="col-md-11 d-flex justify-content-between align-items-center">
      <div>
        <h3 class="h6 fw-bolder">{{ item.product.title | cuttext : 10 }}</h3>
        <p class="fw-bolder text-main small m-0">
          {{ item.price | currency : " " }} EGP
        </p>
        <button
          class="text-danger btn m-0 p-0 small fw-bolder"
          (click)="removeItem(item.product._id)"
        >
          <i class="fa-solid fa-trash-can"></i> Remove
        </button>
      </div>
      <div>
        <button
          #plus
          class="btn btn-sm border-success fw-bold"
          (click)="
            changeQuantity(item.count + 1, item.product._id, plus, Subtract)
          "
        >
          +
        </button>
        <span> {{ item.count }} </span>
        <button
          #Subtract
          class="btn btn-sm border-success fw-bold"
          (click)="
            changeQuantity(item.count - 1, item.product._id, plus, Subtract)
          "
        >
          -
        </button>
      </div>
    </div>
  </div>

  <button
    class="fs-6 main-btn mt-3 d-inline-block fw-bolder py-2 bg-primary me-3"
    [routerLink]="['/payment', cartProductDetails._id]"
  >
    Check out
  </button>

  <button
    class="text-white fw-bolder fs-6 btn  bg-danger py-2 d-inline-block"
    (click)="clearAll()"
  >
    Clear Your Cart
  </button>
</section>

<ng-template #info>
  <h3 class="fw-bolder py-5 ps-3 bg-danger">
    Shop cart <br /><br />
    Your cart is Empty
  </h3>
</ng-template>
