<footer class="bg-main-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="h3 text-main fw-bolder">Fresh-Cart App</h2>
        <p>
          thanks for visiting our
          <b>Website</b>
        </p>
      </div>
      <div class="col-md-12 d-flex gap-3 mb-2">
        <!-- <input type="email" class="form-control" placeholder="email..." />
        <button class="main-btn flex-shrink-0">Share App Link</button> -->

        <ul
          class="list-unstyled d-flex justify-content-center align-items-center  w-100"
        >
          <li class="mx-1">
            <a class="text-main" href="https://www.facebook.com/">
              <i class="fas fa-brands fa-facebook"></i>
            </a>
          </li>
          <li class="mx-1">
            <a class="text-main" href="https://www.whatsapp.com/">
              <i class="fas fa-brands fa-whatsapp"></i>
            </a>
          </li>
          <li class="mx-1">
            <a class="text-main" href="https://www.gmail.com/">
              <i class="fas fa-brands fa-google"></i>
            </a>
          </li>
          <li class="mx-1">
            <a class="text-main" href="https://www.instagram.com/">
              <i class="fas fa-brands fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
      <hr />

      <div class="fw-bolder text-center" >
        <p>Copyright © Your Website 2021</p>
       </div>
      
    </div>
  </div>
</footer>
